html {
  box-sizing: border-box;
  font-size: 2rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    min-height: 100%;
    min-width: 100%;
}

input{
  align-items: center;
}

.header {
  background-color: #740774;
  padding: 0;
  color: white
}

.list-element {
  font-size: 1rem;
}
